/Image_processing/Filters/.ipynb_checkpoints
/Image_processing/Grey-Level Co-occurrence Matrix/.ipynb_checkpoints
/Image_processing/change_detection/.ipynb_checkpoints
/Image_processing/supervised learning/.ipynb_checkpoints
/Image_processing/Support Vector Machine/.ipynb_checkpoints
.ipynb_checkpoints